<nav class="navbar navbar-expand-lg navbar-light" style="height: 6rem">
    <div class="container-fluid">
        <img src="../../assets/kenya-court-of-arms.png" alt="logo" width="60" height="70" class="navbar-brand" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mortality Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">AFI Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SARI/ILI Dashboard</a>
                </li>
            </ul>
            <form class="d-flex"></form>
        </div>
    </div>
</nav>
<div>
    <div class="sideNav">
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                    <div
                        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                            id="menu">
                            <li class="nav-item">
                                <a routerLink="/" class="nav-link align-middle px-0">
                                    <i class="fs-4 bi-house"></i>
                                    <span class="ms-1 d-none d-sm-inline">Overview</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Screening" class="nav-link align-middle px-0">
                                    <i class="fs-4 bi-house"></i>
                                    <span class="ms-1 d-none d-sm-inline">Screening</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/Enrollment" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-table"></i>
                                    <span class="ms-1 d-none d-sm-inline">Enrollment</span></a>
                            </li>

                            <li class="nav-item">
                                <a routerLink="/Covid 19 Results" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-people"></i>
                                    <span class="ms-1 d-none d-sm-inline">Covid 19 Results</span>
                                </a>
                            </li>
                            <!-- <router-outlet> </router-outlet> -->
                        </ul>
                        <hr />
                        <!-- <div class="dropdown pb-4">
                            <a href="#"
                                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                    class="rounded-circle" />
                                <span class="d-none d-sm-inline mx-1">loser</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <div class="col py-3">
                    <!-- <h2>Fetched API Data</h2> -->
                    <ul>
                        <li *ngFor="let user of users">
                            {{ user.username }} - {{ user.email }} <!-- Data matching JSON structure -->
                        </li>
                    </ul>
                    <!-- <app-overview></app-overview> -->
                    <router-outlet> </router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
