<div>
    <h5>Overview</h5>
    <p>
        This dashboard aims to monitor the evolution of SARS-CoV-2, identify more
        lethal strains, and track the extent of undiagnosed COVID deaths. It
        provides critical insights to inform public health policies and enhance
        prevention and control measures.
    </p>

    <div class="overViewRow">
        <router-outlet> </router-outlet>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Screened</h5>
                <hr>
                <h3>200</h3>
            </div>
            <div class="card-footer">
                <span>300 last month</span>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Eligible Participants</h5>
                <hr>
                <h3>150</h3>
            </div>
            <div class="card-footer">
                <span>120 last month</span>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Enrolled & Tested</h5>
                <hr>
                <h3>94</h3>
            </div>
            <div class="card-footer">
                <span>80 last month</span>
            </div>
        </div>
        <highcharts-chart [Highcharts]="highcharts" [options]="overallpositivitychartOptions"
            style="width: 100%; height: 400px; display: block"></highcharts-chart>
    </div>
    <div class="covidCharts">
        <div>
            <highcharts-chart [Highcharts]="highcharts" [options]="covid19positivitybygenderchartOptions"
                style="width: 100%; height: 400px; display: block;"></highcharts-chart>
        </div>
        <div>
            <highcharts-chart [Highcharts]="highcharts2" [options]="covid19PositivityByAgeGenderOptions"
                style="width: 100%; height: 400px; display: block;"></highcharts-chart>
        </div>
        <div>
            <highcharts-chart [Highcharts]="highcharts2" [options]="overallpositivitybyfacilitychartOptions"
                style="width: 100%; height: 400px; display: block;"></highcharts-chart>
        </div>
        <div>
            <highcharts-chart [Highcharts]="highcharts1" [options]="covid19PositivityOvertimeOptions"
                style="width: 100%; height: 400px; display: block;"></highcharts-chart>
        </div>
    </div>
</div>