<div>
    <h5>Screening</h5>
    <div class="screenedCharts">
        <div>
            <highcharts-chart [Highcharts]="Highcharts" [options]="screeningCascadeChartOptions"
                style="width: 100%; height: 400px; display: block"></highcharts-chart>
        </div>

        <!-- <div class="screenedRow">
            <highcharts-chart [Highcharts]="Highcharts" [options]="screeningbyageandgenderchartOptions"
                style="width: 100%; height: 400px; display: block"></highcharts-chart>
        </div> -->
        <div>
            <highcharts-chart [Highcharts]="Highcharts" [options]="screeningByFacilitiesChartOptions"
                style="width: 100%; height: 400px; display: block"></highcharts-chart>
        </div>
        
        <div>
            <highcharts-chart [Highcharts]="Highcharts" [options]="screenedovertimechartOptions"
                style="width: 100%; height: 400px; display: block"></highcharts-chart>
        </div>

    </div>
</div>


<!-- <p>screened works!</p>  -->
