.screened-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.screenedRow{
    display: flex;
    column-gap: 0.125rem;
    align-items: center;
}
.screenedRow .card{
    min-width: 14rem;
    min-height: 16rem
}

.screenedCharts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    column-gap: 0.625rem;
}

.screenedCharts div:first-child{
    padding: 0 1rem;
    border-right: 2px solid black;
}